[submodule "vendor/premake/modules/codeblocks"]
	path = vendor/premake/modules/codeblocks
	url = https://github.com/chris-be/premake-codeblocks.git
[submodule "Simulator/vendor/spdlog"]
	path = Simulator/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
