#Directories
bin/
bin-int/
Simulator/output/
GUI/obj/

#Visual Studio Files
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj.user
**.log

#CodeBlocks Files
**.cbp
**.workspace
**.layout
**.workspace.layout

#Directories
scripts/__pycache__